:root {
  --gray-900: #212529;
  --red: #ff5349;
  --white: #ffffff;
  --bs-primary: #0d6efd;
}
body {
  overflow-y: hidden;
}

* {
  font-family: "Sora", sans-serif;
  font-weight: 600;
}

.wrapper {
  padding: 10rem 0rem !important;
  min-height: 100vh;
  background-image: url("bg.png"),
    linear-gradient(160deg, #2aaffc 0%, #80d0c7 100%);
}
.container {
  position: relative;
}

.title {
  margin-bottom: 2rem !important;
  text-align: center;
  color: var(--white);
}

.titleAccent {
  color: var(--red);
}
.icons {
  color: white;
}
